html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

.game-board {
  font-family: "Open Sans", sans-serif;
  margin-top: 130px;
}

.shadow-md {
  box-shadow: rgba(7, 65, 210, 0.1) 0px 9px 30px !important;
}

.o-player {
  background: #cb6893;
  background: linear-gradient(to right, #cb6893 0%, #f6d9d7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.x-player {
  background: #746dd0;
  background: linear-gradient(to right, #746dd0 0%, #c4e1eb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.x-winner {
  text-shadow: 0 0 10px #746dd0, 0 0 0px #746dd0, 0 0 40px #746dd0, 0 0 2px #746dd0;
}

.o-winner {
  text-shadow: 0 0 10px #ff9bc6, 0 0 0px #ff9bc6, 0 0 40px #ff9bc6, 0 0 2px #ff9bc6;
}/*# sourceMappingURL=caroGame.css.map */

input[type="text"] {
  color: red;
}

@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap');
 body, html {
	 font-family: Red hat Display, sans-serif;
	 font-weight: 400;
	 line-height: 1.25em;
	 letter-spacing: 0.025em;
	 color: #333;
}
 .center {
	 position: fixed;
   bottom: 20px;
   right: 10px;
}
 .pic {
	 width: 2rem;
	 height: 2rem;
	 background-size: cover;
	 background-position: center;
	 border-radius: 50%;
}
 .contact {
	 position: relative;
	 margin-bottom: 1rem;
	 padding-left: 5rem;
	 height: 4.5rem;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
}
 .contact .pic {
	 position: absolute;
	 left: 0;
}
 .contact .name {
	 font-weight: 500;
	 margin-bottom: 0.125rem;
}
 .contact .message, .contact .seen {
	 font-size: 12px;
	 color: #999;
}
 .contact .badge {
	 box-sizing: border-box;
	 position: absolute;
	 width: 1.5rem;
	 height: 1.5rem;
	 text-align: center;
	 font-size: 0.9rem;
	 padding-top: 0.125rem;
	 border-radius: 1rem;
	 top: 0;
	 left: 2.5rem;
	 background: #333;
	 color: white;
}
 .contacts {
	 position: absolute;
	 top: 50%;
	 left: 0;
	 transform: translate(-6rem, -50%);
	 width: 16rem;
	 height: 24rem;
	 padding: 1rem 2rem 1rem 1rem;
	 box-sizing: border-box;
	 border-radius: 1rem 0 0 1rem;
	 cursor: pointer;
	 background: white;
	 box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
	 transition: transform 500ms;
}
 .contacts h2 {
	 margin: 0.5rem 0 1.5rem 5rem;
}
 .contacts .fa-bars {
	 position: absolute;
	 left: 2.25rem;
	 color: #999;
	 transition: color 200ms;
}
 .contacts .fa-bars:hover {
	 color: #666;
}
 .contacts .contact:last-child {
	 margin: 0;
}
 .contacts:hover {
	 transform: translate(-23rem, -50%);
}
 .chat {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
	 width: 18rem;
	 height: 22rem;
	 z-index: 2;
	 box-sizing: border-box;
	 border-radius: 1rem;
	 background: #f7f7f7;
	 box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);

}
 .chat .contact.bar {
	 flex-basis: 3.5rem;
}
 .chat .messages {
	 padding: 1rem;
	 background: #f7f7f7;
	 flex-shrink: 2;
	 overflow-y: auto;
	 box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
   border-radius: 8px;
}
 .chat .messages .time {
	 font-size: 0.8rem;
	 background: #eee;
	 padding: 0.25rem 1rem;
	 border-radius: 2rem;
	 color: #999;
	 width: fit-content;
	 margin: 0 auto;
}
 .chat .messages .message {
	 box-sizing: border-box;
	 padding: 0.5rem 1rem;
	 margin: 1rem;
	 background: #fff;
	 border-radius: 1.125rem 1.125rem 1.125rem 0;
	 min-height: 2.25rem;
	 width: fit-content;
	 max-width: 66%;
	 box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}
 .chat .messages .message.parker {
	 margin: 1rem 1rem 1rem auto;
	 border-radius: 1.125rem 1.125rem 0 1.125rem;
	 background: #333;
	 color: white;
}
 .chat .messages .message .typing {
	 display: inline-block;
	 width: 0.8rem;
	 height: 0.8rem;
	 margin-right: 0rem;
	 box-sizing: border-box;
	 background: #ccc;
	 border-radius: 50%;
}
 .chat .messages .message .typing.typing-1 {
	 animation: typing 3s infinite;
}
 .chat .messages .message .typing.typing-2 {
	 animation: typing 3s 250ms infinite;
}
 .chat .messages .message .typing.typing-3 {
	 animation: typing 3s 500ms infinite;
}
 .chat .input {
	 box-sizing: border-box;
	 flex-basis: 4rem;
	 flex-shrink: 0;
	 display: flex;
	 align-items: center;
	 padding: 0 0.5rem 0 1.5rem;
   padding-bottom: 10px;
}
 .chat .input i {
	 font-size: 1.5rem;
	 margin-right: 1rem;
	 color: #666;
	 cursor: pointer;
	 transition: color 200ms;
}
 .chat .input i:hover {
	 color: #333;
}
 .chat .input input {
	 border: none;
	 background-image: none;
	 background-color: white;
	 padding: 0.5rem 1rem;
	 margin-right: 1rem;
	 border-radius: 1.125rem;
	 flex-grow: 2;
	 box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
	 font-family: Red hat Display, sans-serif;
	 font-weight: 400;
	 letter-spacing: 0.025em;
}
 .chat .input input:placeholder {
	 color: #999;
}
 @keyframes typing {
	 0%, 75%, 100% {
		 transform: translate(0, 0.25rem) scale(0.9);
		 opacity: 0.5;
	}
	 25% {
		 transform: translate(0, -0.25rem) scale(1);
		 opacity: 1;
	}
}

.stark{
  color: black !important;
}