* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  font-family: "Exo", sans-serif;
  letter-spacing: 0.02rem;
  color: rgb(255, 255, 255);
}

body {
  background-image: url(../img/body-bg.webp);
  background-size: cover;
  background-color: rgba(71, 70, 71, 0.7);
}

.container {
  max-width: 1200px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  background: rgb(49, 49, 49);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.header__content .header__logo a {
  display: flex;
  text-decoration: none;
  width: 30%;
}
.header__content .header__logo a img {
  width: 100%;
  height: auto;
}
.header__content .header__logo a h3 {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content .header__menu nav ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.header__content .header__menu nav ul li {
  margin-right: 57px;
  padding: 10px 30px;
  position: relative;
}
.header__content .header__menu nav ul li .mainPages {
  display: inline-block;
  line-height: 30px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
}
.header__content .header__menu nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 9px;
}
.header__content .header__menu nav ul li:hover .mainPages {
  color: rgba(71, 70, 71, 0.7);
}

ul.sub_menu {
  position: absolute;
  left: 0;
  right: auto;
  top: 148%;
  min-width: 225px;
  padding: 18px 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
  list-style: outside none none;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  border-radius: 4px;
  transition: 0.3s;
  z-index: 99;
}
ul.sub_menu .sub__pages {
  display: list-item;
}
ul.sub_menu .sub__pages a {
  font-size: 0.9rem;
  font-weight: 500;
  display: block;
  line-height: 32px;
  text-transform: capitalize;
  color: rgb(49, 49, 49);
}
ul.sub_menu .sub__pages a:hover {
  text-decoration: none;
  color: rgba(147, 64, 241, 0.8);
}

.header__menu li:hover ul.sub_menu {
  visibility: visible;
  opacity: 1;
  top: 132%;
}/*# sourceMappingURL=header.css.map */

.ant-message-notice-content .ant-message-success span{
  color: green;
}

.ant-message-notice-content .ant-message-error span{
  color: red;
}